/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/fabric-ca/org2/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt

orderer/organizations/*
# orderer/configtx/*
orderer/channel-artifacts/*
orderer/genesis.block


org1/organizations/*
org1/mychannel.block
org1/mychannel.tx
org1/Org1MSPanchors.tx
org1/fabcargo.tar.gz
org1/log.txt

org2/organizations/*
org2/mychannel.block
org2/mychannel.tx
org2/Org2MSPanchors.tx
org2/fabcargo.tar.gz
org2/log.txt


